<nav class="navbar navbar-fixed-top">

	<div class="content-padding">

		<ul class="nav navbar-nav navbar-right">

			<li><a href="/">Home</a></li>

			<li class="dropdown">

				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Movies <i class="fa fa-chevron-down"></i></a>
				<ul class="dropdown-menu">
          
					{% for i in movies %}
					<li>
						<a href="/star_wars_episode/{{i.episode_number}}" class="episode_link">{{ i.title }}</a>
					</li>
					{% endfor %}


        </ul> <!-- dropdown-menu -->

			</li> <!-- dropdown -->

		</ul> <!-- navbar-nav -->

	</div>

</nav>